<section class="full-build">
  <section class="wrapper">
    <!-- Welcome Screen Mission Impossible Animation -->
    <div class="welcome-section" id="welcome-section">
      <!-- Tom Cruze Video -->
      <video id="tommy-boy"  autoplay muted>
        <source src="./img/missionimpossible.mp4" type="video/mp4">
      </video>
      <div id="welcome-texts">
        <h1>Welcome</h1>
        <p style="text-align:center;">Prepare to manage your agents</p>
      </div>
    </div>
    <!-- Main Input Screen -->
    <section class="inputs">
      <!-- Create a new message section -->
      <div class="input-section"  id="input-section">
        <h2>Create New Message</h2>
        <div class="mess-input">
          <p>Agent Number</p>
          <input type="number"  ng-model="newMission.agentNum" placeholder="007"/>
        </div>
        <div class="mess-input">
          <p>Message</p>
          <textarea ng-model="newMission.disc" placeholder="Their mission, should they choose to accept it"></textarea>
        </div>
        <div class="mess-input">
          <p>Self Destruct Timer</p>
          <input ng-model="newMission.timer" type="number" placeholder="ex. 20 (Input No. of Seconds)"/>
        </div>
        <div class="mess-input mess-input-send">
          <div ng-click="createMission(newMission)" id="send-message">Send Message</div>
        </div>
      </div>
      <!-- Collection and Management of saved messages -->
      <div class="input-list">
        <h2>Manage Agent Messages</h2>
          <div class="saved-message" ng-repeat="missions in mission">
            <div class="message-info">
              <p><span class="message-subtitle"  >Agent Number:</span> <span>{{missions.agent}}</span></p>
              <p><span class="message-subtitle"  >Agent Mission:</span> <span>{{missions.message}}</span></p>
              <p><span class="message-subtitle"  >Self Destruct Time:</span> <span>{{missions.timeout}}</span></p>
            </div>
            <div class="message-management">
              <div class="manage-message" ng-click="setUpdate('changeAgent', missions.id)">Change Agent</div>
              <div class="manage-message" ng-click="setUpdate('changeMission', missions.id)">Change Mission</div>
              <div class="manage-message" ng-click="setUpdate('changeTimeout', missions.id)">Change Timer</div>
              <div class="manage-message" ng-click="deleteMission(missions.id)">Delete Mission</div>
            </div>
          </div>
      </div>
      <section class="updates" id="updates">
        <h3>Update {{update.title}}</h3>
        <div style="margin: 15px 0 0 15px;" class="mess-input">
          <p>New {{update.title}}</p>
          <input type="number" ng-model="update.value"/>
        </div>
        <div class="mess-input mess-input-send">
          <div ng-click="routeUpdate(update.type)" id="send-message">Confirm</div>
        </div>
      </section>
      <section class="updates-black" id="updates-black" ng-click="exitUpdate()">
      </section>
    </section>
  </section>
</section>
